name: Deploy

on:
  push:
    branches:
      - animateV0.0

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Deploy to server
        run: |
          echo "Deploying branch: ${GITHUB_REF##*/}"
          # Add your deployment commands here
